@media screen and (max-width: 900px) {
    body {
        background-image: url("images/bgmobil.png");
    }
}

body {
    background-image: url("images/bg.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f1f1f1;
    display: flex;
    padding: 100px 669px;
    justify-content: center;
    align-items: center;
}
.sign-in-container {
    display: flex;
    padding: 53px 44px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
}

.form-group-inner .send-button {
    display: flex;
    padding: 10px 200px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.form-group-inner .send-button:hover {
    background-color: #45a049;
}

.form-group-inner .send-button:disabled {
    background-color: #A0C8A1;
    cursor: default;
}

.form-group-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.form-group-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}

.content-group-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
}

.content-group-container label {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content-group-container .value-input {
    display: flex;
    width: 200px;
    padding: 11px 289px 12px 10px;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #BDBDBD;
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-group-container .value-input:disabled {
    color: #BDBDBD;
}


.context-text-box {
    display: flex;
    width: 488px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.context-text {
    width: 487px;
    flex-shrink: 0;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.container {
    position: fixed ;
    left: 20%;
    background-color: #fff;
    width: fit-content;
    align-self: center;
    padding: 20px;
    margin-top: 10%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.cookie-popup {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cookie-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.cookie-button-deny {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #a72c27;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.cookie-button:hover {
    background-color: #45a049;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.747);
    z-index: 1;
    display: none;
}

@media screen and (max-width: 900px) {
    body {
        background-image: url("images/bgmobil.png");
    }
}

.send-button-container {
    display: flex;
    width: 488px;
    justify-content: space-between;
    align-items: center;
}

.send-button-container .send-button {
    display: flex;
    width: 126px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.send-button-container .send-button:hover {
    background-color: #45a049;
}

.send-button-container .send-button:disabled {
    background-color: #A0C8A1;
    cursor: default;
}

.subtle-button {
    font-size: 12px;
    cursor: pointer;
    color: #83b786;
    border: none;
    background-color: white;
}

.subtle-button:hover  {
    text-decoration-line: underline;
    cursor: pointer;
    color: #45a049;
    background-color: white;
}

.subtle-button:disabled  {
    text-decoration-line: none;
    cursor: default;
    font-size: 12px;
    color: #A0C8A1;
    background-color: white;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;
}

.checkbox-container .checkbox-text {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    cursor: default;
}

